{% set id = game %}
{% set game = GAME[game] %}

{% if game.type == 1 %}

<div class="input-field col s6">
  <p>
    <label>
      <input id="{{ id }}" type="checkbox" name="{{ id }}"/>
      <span>{{ game.name }}</span>
    </label>
  </p>
</div>

{% else %}

<div class="input-field col s6">
  {% if game.icon %}
  <i class="material-icons prefix">{{ game.icon }}</i>
  {% endif %}
  <input id="{{ id }}" name="{{ id }}" type="text" required="" class="validate">
  <label for="{{ id }}">{{ game.name }}</label>
</div>

{% endif %}
