nav ul a,
nav .brand-logo {
    color: #444;
}

footer.page-footer {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

@media only screen and (max-width : 992px) {
    #index-banner .section {
        top: 10%;
    }

}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

#logo {
    height: 56px;
    width: 56px;
}

@media only screen and (min-width: 601px) {
    #logo {
        height: 64px;
        width: 64px;
    }
}
