<div class="card-panel">
  <h4 class="center-align">Best Average</h4>

  <div class="row">
    {% if teams %}
    {% for datalink in datasets %}
    {% set count = loop.index %}
    <div class="col 3 m6 l3">
      <script type="text/javascript">
	      var themain = {{datasets|tojson}}
	      var maindata = {{datalink|tojson}}
      </script>
      <h6 class="center-align">{{datalink[0][0]}}</h6>
      <div id={{datalink[0][1]}}></div>
    </div>
    <script src="{{ url_for('static', filename='js/stat_team.js') }}"></script>
    {% endfor %}
    {% else %}
    {% for name in names %}
    {% set count = loop.index %}
    <div class="col s12 m6 l3">
      <h6 class="center-align">{{name}}</h6>
	    <p class="center-align">NO TEAMS FOUND</p>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
