<div class="card-panel">
  <h4 class="center-align">Best Average</h4>

  <div class="row">
    <div class="col s12">
      <center><b> OPR </b></center>
      <ul class="collection" id="collection">
	{% include "includes/cards/team_collection.html" %}
      </ul>

    </div>

    <div class="card-stacked">
      <center><b> Impacts </b></center>
      <ul class="collection" id="collection">
	{% include "includes/cards/team_collection.html" %}
      </ul>

    </div>
    
  </div>

</div>

<script src="{{ url_for('static', filename='js/search_team.js') }}"></script>
