<div class="card-panel">
  <h4 class="center-align">Find Team</h4>

  <form method="POST">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input id="search_team" name="search_team" type="text" class="validate">
        <label for="search_team">Team #</label>
      </div>
    </div>
  </form>

  <ul class="collection" id="collection">
    {% include "includes/cards/team_collection.html" %}
  </ul>
</div>

<script src="{{ url_for('static', filename='sjs/search_team.js') }}"></script>
