<div class="row">
  <div class="container">
    <div class="card-panel">
      <h4 class="center-align">Match Scout</h4>
      <div class="row">
        <form class="col s12" method="POST">
          <div class="row">
            <div class="input-field col m4 s4">
              <input id="team" type="text" required="" class="validate">
              <label for="team">Team #</label>
            </div>
            <div class="input-field col m4 s3">
              <input id="match" type="text" required="" class="validate">
              <label for="match">Match #</label>
            </div>
            <div class="input-field switch col s5 center hide-on-med-and-up right">
              <label>
                R
                <input type="checkbox" id="alliance" name="alliance">
                <span class="lever"></span>
                B
              </label>
            </div>
            <div class="input-field switch col m4 center hide-on-small-only">
              <label>
                Red
                <input type="checkbox" id="alliance" name="alliance">
                <span class="lever"></span>
                Blue
              </label>
            </div>
            <div class="col s12">
              <h5>Auto</h5>
            </div>
            {% for game in GAME_AUTO %}
            {% set GAME = GAME_AUTO %}
            {% include "includes/scout_form_field.html" %}
            {% endfor %}
            <div class="col s12">
              <h5>Teleop</h5>
            </div>
            {% for game in GAME_TELE %}
            {% set GAME = GAME_TELE %}
            {% include "includes/scout_form_field.html" %}
            {% endfor %}
            <div class="input-field col s12">
              <input id="notes" type="text" class="validate">
              <label for="notes">Notes</label>
              <span class="helper-text">Optional</span>
            </div>
            <div class="input-field col s12 center">
              <button class="btn waves-effect waves-light" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
