{% set game = GAME[game] %}

{% if game.type == 1 %}

<!-- change to checkboxes -->
<div class="input-field col s6">
  <p>
    <label>
      <input id="{{ game }}" type="checkbox" name="{{ game }}"/>
      <span>{{ game.name }}</span>
    </label>
  </p>
</div>

{% else %}

<div class="input-field col s6">
  {% if game.icon %}
  <i class="material-icons prefix">{{ game.icon }}</i>
  {% endif %}
  <input id="{{ game }}" name="{{ game.name }}" type="text" required="" class="validate">
  <label for="{{ game }}">{{ game.name }}</label>
</div>

{% endif %}
