<!DOCTYPE html>
<html>
  <head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Framework CSS -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/gif" href="{{ url_for('static', filename='img/circle_logo.gif')}}"/>
    <!-- Javascript -->
    <!-- JQUERY -->
    <!--<script language="JavaScript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>-->
    <!-- d3 -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    
    <!-- Change the title of the page depending on what's being displayed -->
    <title>
      {% block c_title %}
      {% endblock %}
    </title>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}"/>
    {% block style %}
    {% endblock %}

  </head>

  <body>

    <!-- Navbar - Consistent across all pages-->
    <header>
      <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" class="brand-logo" href="{{ url_for('index') }}">
            <img id="logo" src="{{ url_for('static', filename='img/circle_logo.gif') }}" alt="Stuy Fission">
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('index') }}">About</a></li>
	          <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
            
          <ul id="nav-mobile" class="sidenav">
            <li><a href="{{ url_for('index') }}">About</a></li>
	          <li><<a href=""></a> href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </header>

    <!-- Actual Page Related-->
    <main>
      <div class="container">
        <div class="header">
          {% block header %}
          {% endblock %}
        </div>
        <div class="content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </main>

    <!-- Footer - Consistent across all pages-->
    <footer class="page-footer teal">
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="brown-text text-lighten-3" href="https://github.com/kkhan01/Atomic_Theory-Project_Angstrom">Atomic Theory</a> &copy;
          <span id="copyright">
            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
          </span>
        </div>
      </div>
      <!--Produced by Atomic Theory: Khinshan Khan, Stanley Lin, Ishtiaque Mahdi, Ryan Siu-->
    </footer>

    <!-- Materialize JS for optimized loading -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <!-- initialize sidebar -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/sidenavInit.js') }}"></script>
    <!-- Materialize toast flash -->
    <script>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      M.toast({
        html: '{{ message }}',
        displayLength: 4000
      });
      {% endfor %}
      {% endif %}
      {% endwith %}
    </script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
