{% extends "base.html" %}


{% block content %}
<h4 class="header center teal-text text-lighten-2">Hello {{user}}!</h4>
<br>
<div class="row center">
  <h5 class="header col s12">We thank you for your interest in our team.. in our history.</h5>
</div>

<h5>
  <fake class="light">
    <fake class="teal-text text-lighten-2">Directive: </fake>
    We wanted to provide statistical analysis of data to allow for greater insights into teams. We wanted this site to be multipurpose and provide scouting for FIRST Tech Challenge (FTC) use as well as for local teams to use internally. However, due to lack of motivation to present this site to FTC and the unlikelihood of them accepting this site, we chose to keep it internal.
  </fake>
</h5>

<br>
<br>
<br>

<h5>
  <fake class="light">
    <fake class="teal-text text-lighten-2">Who are we? (Collectively) </fake>
    <br>
    <div class="row">
      <h5 class="header col s6 offset-s3 light">
	<b>1</b> Project<br>
	<b>2</b> Poober Members<br>
	<b>3</b> StuyFission Members<br>
	<b>4</b> Unparalleled Coders<br></h5>
    </div>
  </fake>
</h5>

<br>
<br>
<!-- "{{ url_for('static', filename='img/circle_logo.gif') }}" -->

<h5>
  <fake class="light">
    <fake class="teal-text text-lighten-2">Meet the team: </fake>
  </fake>
  <br>
</h5>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="row">
  
  <div class="col 3 m6 l3">
    <div class="main">
      <div class="card">
	<div class="card-image waves-effect waves-block waves-light">
	  <img class="activator" src="{{ url_for('static', filename='img/shan.jpg') }}" border="160">
	</div>
	<div class="card-content">
	  <span class="card-title activator grey-text text-darken-4">"Shan" Khan<i class="material-icons right">more_vert</i></span>
	</div>
	<div class="card-reveal">
	  <span class="card-title grey-text text-darken-4">Khinshan Khan<i class="material-icons right">close</i></span>
	  <p>A graduating senior at Stuyvesant.</p>
	</div>
      </div>
    </div>
  </div>

  <div class="col 3 m6 l3">
    <div class="main">
      <div class="card">
	<div class="card-image waves-effect waves-block waves-light">
	  <img class="activator" src="{{ url_for('static', filename='img/stanley.jpg') }}">
	</div>
	<div class="card-content">
	  <span class="card-title activator grey-text text-darken-4">Stanley Lin<i class="material-icons right">more_vert</i></span>
	</div>
	<div class="card-reveal">
	  <span class="card-title grey-text text-darken-4">Stanley Lin<i class="material-icons right">close</i></span>
	  <p>A graduating senior at Stuyvesant.</p>
	</div>
      </div>
    </div>
  </div>

  <div class="col 3 m6 l3">
    <div class="main">
      <div class="card">
	<div class="card-image waves-effect waves-block waves-light">
	  <img class="activator" src="{{ url_for('static', filename='img/ryan.jpg') }}">
	</div>
	<div class="card-content">
	  <span class="card-title activator grey-text text-darken-4">Ryan Siu<i class="material-icons right">more_vert</i></span>
	</div>
	<div class="card-reveal">
	  <span class="card-title grey-text text-darken-4">Ryan Siu<i class="material-icons right">close</i></span>
	  <p>A graduating senior at Stuyvesant.</p>
	</div>
      </div>
    </div>
  </div>

  <div class="col 3 m6 l3">
    <div class="main">
      <div class="card">
	<div class="card-image waves-effect waves-block waves-light">
	  <img class="activator" src="{{ url_for('static', filename='img/ish.jpg') }}">
	</div>
	<div class="card-content">
	  <span class="card-title activator grey-text text-darken-4">"Ish" Mahdi<i class="material-icons right">more_vert</i></span>
	</div>
	<div class="card-reveal">
	  <span class="card-title grey-text text-darken-4">Ishtiaque Mahdi<i class="material-icons right">close</i></span>
	  <p>A graduating senior at Stuyvesant.</p>
	</div>
      </div>
    </div>
  </div>
  
</div>
</h5>
{% endblock %}
