{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}"/>
{% endblock %}

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var modals = document.querySelectorAll('.modal');
    var modal_instances = M.Modal.init(modals, null);

    var tabs = document.getElementsByClassName("tabs")[0];
    var tabs_instance = M.Tabs.init(tabs, null);

    var scrollspy = document.querySelectorAll('.scrollspy');
    var scrollspy_instances = M.ScrollSpy.init(scrollspy, null);

    var pushpins = document.querySelectorAll('.pushpin');
    var pushpin_instances = M.Pushpin.init(pushpins, null);

  });
</script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s4"><a class="teal-text" href="#dashboard">Dashboard</a></li>
      <li class="tab col s4"><a class="active teal-text" href="#scout">Scout</a></li>
      {% if is_admin() %}
      <li class="tab col s4"><a class="teal-text" href="#admin">Admin</a></li>
      {% endif %}
    </ul>
  </div>

  <div id="dashboard" class="col s12">
    {% include "includes/dashboard.html" %}
  </div>

  <div id="scout" class="col s12">
    {% include "includes/scout.html" %}
  </div>

  {% if is_admin() %}
  <div id="admin" class="col s12">
    {% include "includes/admin.html" %}
  </div>
  {% endif %}
</div>



{% endblock %}
