{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}"/>
{% endblock %}

{% block scripts %}
<script>
  var tabs = document.getElementsByClassName("tabs")[0];
  var instance = M.Tabs.init(tabs, null);
</script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s4"><a class="teal-text" href="#dashboard">Dashboard</a></li>
      <li class="tab col s4"><a class="active teal-text" href="#scout">Scout</a></li>
      <li class="tab col s4"><a class="teal-text" href="#admin">Admin</a></li>
    </ul>
  </div>

  <div id="dashboard" class="col s12">
    {% include "includes/dashboard.html" %}
  </div>

  <div id="scout" class="col s12">
    {% include "includes/scout.html" %}
  </div>

  <div id="admin" class="col s12">
    {% include "includes/admin.html" %}
  </div>
</div>



{% endblock %}
