{% extends "base.html" %}

{% block c_title %}
Project Ångström
{% endblock %}

{% block content %}

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center teal-text text-lighten-2">Project Ångström</h1>
    <div class="row center">
      <h5 class="header col s12 light">A modern way to conduct scouting for FIRST Tech Challenge</h5>
    </div>
    <div class="row center">
      <form class="col s12" method="POST" action="{{ url_for('login') }}">
        <div class="input-field col s4">
          <input id="user_id" name="user_id" type="text" required="" class="validate">
          <label for="user_id">User ID</label>
        </div>
        <div class="input-field col s6">
          <input id="password" name="password" type="password" required="" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s2">
          <button class="btn waves-effect waves-light" type="submit">Login</button>
        </div>
      </form>
    </div>
    <br>
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up scouting</h5>

          <p class="light">Completing a simple form is all you need to scout a team, both before and during matches.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Displays insightful information</h5>

          <p class="light">By utilizing statistical analysis, we aim to provide you with a more complete understanding of teams' performances at a competition.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">A combination of simple forms, charts, and graphs make it so that little training is required to access and use this website.</p>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
