{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col s12 m10 l8 offset-m1 offset-l2">
    <div class="card-panel">
      <h3 class="center-align">{{ team.team_name }} ({{ team.team }})</h3>
      <span>
        <ul>
          <li><i class="teal-text inline-icon material-icons">location_on</i> {{ team.location }}</li>
          <li><i class="teal-text inline-icon material-icons">person</i> {{ team.num_mem }} members</li>
          <li><i class="teal-text inline-icon material-icons">info</i> {{ team.notes }}</li>
        </ul>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m10 l8 offset-m1 offset-l2">
    <div class="card-panel">
      <h5>This Competition</h5>
      <table>
        <tr>
          <th>Match</th>
          <th>OPR</th>
          <th>Impact</th>
        </tr>
        <tr>
          <td>1</td>
          <td>300</td>
          <td>0.6</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m10 l8 offset-m1 offset-l2">
    <div class="card-panel">
      {% include "includes/line_chart.html" %}
    </div>
  </div>
</div>

{% endblock %}
