{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col s12 m10 l8 offset-m1 offset-l2">
    <div class="card-panel">
      <h3 class="center-align">{{ team.team_name }} ({{ team.team }})</h3>
      <span>
        <div class="row">
          <div class="col m12 l6">
            <img src="{{ url_for('static', filename='img/public/'+team.pic)}}" alt="" class="responsive-img" style="max-width:50%;">
          </div>
          <div class="col m12 l6">
            <ul>
              <li><i class="teal-text inline-icon material-icons">location_on</i> {{ team.location }}</li>
              <li><i class="teal-text inline-icon material-icons">person</i> {{ team.num_mem }} members</li>
              <li><i class="teal-text inline-icon material-icons">image</i> <a href="{{ url_for('pictures', filename = team.pic) }}">{{ team.pic }}</a></li>
            </ul>
          </div>
        </div>



      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m10 l8 offset-m1 offset-l2">
    <div class="card-panel">
      <h5>This Competition</h5>
      <table>
        <tr>
          <th>Match</th>
          <th>OPR</th>
          <th>Impact</th>
          <th>Glyphs</th>
        </tr>
        {% for i in range(0, team_data|length) %}
        <tr>
          <td>{{ team_data[i]['match'] }}</td>
          <td>{{ oprs[i]|int }}</td>
          {% if impacts[i] %}
          <td>{{ impacts[i]|round(2) }}</td>
          {% else %}
          <td></td>
          {% endif %}
          <td>{{ team_data[i]['tasks']['04_g_tele'] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m10 l8 offset-m1 offset-l2">
    <div class="card-panel">
      {% include "includes/line_chart_carousel.html" %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/visualize.js') }}"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/visualize.css') }}"/>
{% endblock %}
