{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col s12 m10 l8 offset-m1 offset-l2">
    <div class="card-panel">
      <h3 class="center-align">{{ team.team_name }} ({{ team.team }})</h3>
      <span>
        <div class="row">
          <div class="col l6 hide-on-med-and-down">
            <img src="{{ url_for('static', filename='img/public/'+team.pic)}}" alt="" class="responsive-img" style="max-width:50%;">
          </div>
          <div class="col m12 hide-on-large-only">
            <img src="{{ url_for('static', filename='img/public/'+team.pic)}}" alt="" class="responsive-img">
          </div>
          <div class="col m12 l6">
            <ul>
              <li><i class="teal-text inline-icon material-icons tooltipped" data-position="left" data-tooltip="Location">location_on</i> {{ team.location }}</li>
              <li><i class="teal-text inline-icon material-icons tooltipped" data-position="left" data-tooltip="Number of team members">person</i> {{ team.num_mem }} members</li>
              <li><i class="teal-text inline-icon material-icons tooltipped" data-position="left" data-tooltip="Image">image</i> <a href="{{ url_for('pictures', filename = team.pic) }}">{{ team.pic }}</a></li>
              {% if prescout %}
              <li><i class="teal-text inline-icon material-icons tooltipped" data-position="left" data-tooltip="Prescout">info</i>
                Prescout <strong>auto</strong>: {{ prescout[1] }}, <strong>teleop</strong>: {{ prescout[2] }}, <strong>endgame</strong>: {{ prescout[3] }}
                <br><i class="white-text inline-icon material-icons">info</i>
                {% if prescout[4] %}
                Prescout <strong>notes</strong>: {{ prescout[4] }}
                {% endif %}
              </li>
              {% else %}
              <li><i class="teal-text inline-icon material-icons">info</i> No prescout information</li>
              {% endif %}
              <li><i class="teal-text inline-icon material-icons tooltipped" data-position="left" data-tooltip="Previous competitions">skip_previous</i> <strong>Previous Competitions</strong>
                {% for event in previous_events %}
                <br><i class="white-text inline-icon material-icons">skip_previous</i>
                {{ event['event_name'] }}, {{ event['state_prov'] }} ({{ event['event_type_key'] }})
                {% endfor %}
              </li>
            </ul>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m10 l8 offset-m1 offset-l2">
    <div class="card-panel">
      <h5>This Competition</h5>
      <table>
        <tr>
          <th>Match</th>
          <th>Scouter</th>
          <th>OPR</th>
          <th>Impact</th>
          <th>Total Glyphs</th>
          <th>Auto Glyphs</th>
          <th></th>
        </tr>
        {% for i in range(0, team_data|length) %}
        <tr>
          <td>{{ team_data[i]['match'] }}</td>
          <td>{{ get_user(team_data[i]['u_id'])[1] }}</td>
          <td>{{ oprs[i]|int }}</td>
          {% if impacts[i] %}
          <td>{{ impacts[i]|round(2) }}</td>
          {% else %}
          <td></td>
          {% endif %}
          <td>{{ team_data[i]['tasks']['04_g_tele'] }}</td>
          <td>{{ team_data[i]['tasks']['00_g_auto'] }}</td>
          <td>
            {% if team_data[i]['notes'] %}
            <a class="tooltipped" data-position="right" data-tooltip="{{ team_data[i]['notes' ]}}">Notes</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m10 l8 offset-m1 offset-l2">
    <div class="card-panel">
      {% include "includes/line_chart_carousel.html" %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/visualize.js') }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems, null);
  });
</script>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/visualize.css') }}"/>
<style>
  table {
    overflow-x: auto;
  }
</style>
{% endblock %}
