{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col s12">
    {% include "includes/cards/visualize_form.html" %}
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card-panel">
    {% include "includes/line_chart_carousel.html" %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/visualize.js') }}"></script>
<script src="{{ url_for('static', filename='js/compare.js') }}"></script>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/visualize.css') }}"/>
{% endblock %}
